doctype html
html(lang='ru')
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		title Другофильтр VK
		script(src="//vk.com/js/api/openapi.js")
		link(rel="stylesheet", href="build.css")
		script(src="build.js")
	body
		main.content
			header
				h1 Выберите друзей
			.container
				.column#friends-vk
					.search
						label(for="search-friends").icon
						input(type="text", id="search-friends", name="search-friends", placeholder="Начните вводить имя друга")
					.list
						.title Ваши друзья
				.column#favorite
					.search
						input(type="text", name="search-favorite", placeholder="Название")
					.list
						.title Друзья в списке
						ul
							li
								img(src="http://cdn.stripersonline.com/6/6f/50x50px-ZC-6f67bd7e_125x125px-LS-afddea1f_haha-lol-manolo-troll-troll-face-Favim_com-143216.jpeg")
								p Имя Фамилия
								span.remove(title="Удалить из избраного")
							li
								img(src="http://cdn.stripersonline.com/6/6f/50x50px-ZC-6f67bd7e_125x125px-LS-afddea1f_haha-lol-manolo-troll-troll-face-Favim_com-143216.jpeg")
								p Имя Фамилия
								span.remove(title="Удалить из избраного")
							li
								img(src="http://cdn.stripersonline.com/6/6f/50x50px-ZC-6f67bd7e_125x125px-LS-afddea1f_haha-lol-manolo-troll-troll-face-Favim_com-143216.jpeg")
								p Имя Фамилия
								span.remove(title="Удалить из избраного")
							li
								img(src="http://cdn.stripersonline.com/6/6f/50x50px-ZC-6f67bd7e_125x125px-LS-afddea1f_haha-lol-manolo-troll-troll-face-Favim_com-143216.jpeg")
								p Имя Фамилия
								span.remove(title="Удалить из избраного")
							li
								img(src="http://cdn.stripersonline.com/6/6f/50x50px-ZC-6f67bd7e_125x125px-LS-afddea1f_haha-lol-manolo-troll-troll-face-Favim_com-143216.jpeg")
								p Имя Фамилия
								span.remove(title="Удалить из избраного")
			footer
				button.btn Сохранить
